<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tcbDomain</key>
	<string>tcb.authsowmya.com</string>
	<key>Domain</key>
	<string>autoclubcorp.authsowmya.com</string>
	<key>tcbClientId</key>
	<string>NSG1v4duMpB5HuEsSfUUId1ZmmvVzi1i</string>
	<key>ClientId</key>
	<string>9nd1KTG69I6xbTW4tbcq2vf3kxi8bSVq</string>
</dict>
</plist>
